@model ToDoList

@{
    ViewData["Title"] = "CreateToDoList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">TODO list</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">New TODO
						<div class="card-title"></div>
					</div>
					<div class="card-body">

						<form method="post">
							<label>Title and Content</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Date</label>
							<input type="date" asp-for="Date" class="form-control" />
							<br />
							<label>Image Url</label>
							<input type="text" asp-for="ImageUrl" class="form-control" />
							<br />
							<button class="btn btn-primary">ADD</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>